<div class="container about-box">
  <div class="plate mx-auto mb-5 " id="cork">
  <span class= "bg-light p-1">このサイトについて</span>
  </div>
  <p class="bg-light p-1">
    
    　コンテンツ・ツーリズムとは、映画、テレビドラマ、アニメ、ゲーム<br>
    音楽、漫画、雑誌、書籍、小説などの情報作品の舞台を訪れる観光です。<br>
    コンテンツ・ツーリズム学会は、「地域に、『コンテンツを通じて醸成された<br>
    地域固有のイメージ』としての『物語性』『テーマ性』を付加し、<br>
    その物語性を観光資源として活用することである」としています（厚生労働省HP資料より抜粋）<br>
    <br>
    　コンテンツ・ツーリズムを略して「コンツリ」<br>
    <br>
    　旅先でキレイな景色や風情のある建物をみたときの<br>
    こころが踊るエモい気持ちを共有しませんか？<br>
    <br>
    　ここはそんな写真を投稿して共有できるサイトになります。
  </p>
</div>