<div class="container about-box">
  <div class="plate mx-auto mb-5 " id="cork">
  <span class= "bg-light p-1">このサイトについて</span>
  </div>
  <p class="bg-light p-1">
    旅先でキレイな景色や風情のある建物をみたときの<br>
    こころが踊るエモい気持ちを共有しませんか？<br>
    ここはそんな写真を投稿して共有できるサイトになります
  </p>
</div>