<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>
  </div>
<div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、Contsuriへ！<br>
    このサイトは聖地巡礼の写真投稿SNSサイトになります。<br>
    会員でない方も投稿内容の閲覧はできますが、<br>
    投稿したいは会員登録が必要になります。
    </p>
  </div>