<% if @model == 'user' %>
	<h3>"<%= @content %>"の検索結果</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post_image' %>
	<h3> "<%= @content %>"の検索結果</h3>
  <%= render 'public/post_images/index', post_images: @records %>
<% end %>