<h1>Admin::PostImages#index</h1>
<p>Find me in app/views/admin/post_images/index.html.erb</p>
<% @post_images.each do |post_images| %>
<p>投稿ユーザー画像：<%= image_tag post_images.user.get_profile_image(100,100) %></p>
<p>タイトル：<%= post_images.title %></p>
<p>説明：<%= post_images.body %></p>
<p>ユーザーネーム：<%= post_images.user.name %></p>
    <% end %>